<!DOCTYPE html>
<html>
<head>
	<title>Customers</title>
	<!-- <link rel="stylesheet" href="/stylesheet/style.css" /> -->
	<script type="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
	<ul class="navbar-nav">
		<li class="nav-item">
		<a href="/home" class="btn btn-primary ml-3">Home</a>
		</li>
		
		<li class="nav-item">
		<a href="/add" class="btn btn-secondary ml-3" >Add Profile</a>
		</li>
		
		<li class="nav-item">
		<a href="/currentLoc/p" class="btn btn-secondary ml-3">Prison</a>
		</li>
		<li class="nav-item">
		<a href="/currentLoc/r" class="btn btn-secondary ml-3">Rehabilitation</a>
		</li>
		<li class="nav-item">
		<a href="/currentLoc/w" class="btn btn-secondary ml-3">Watchlist</a>
		</li>
		<li class="nav-item">
		<a href="/delh" class="btn btn-secondary ml-3">Delete-History</a>
		</li>
		<li class="nav-item">
		<select class="form-control ml-3" name="criminals" id="search-criminals">
	  		<option value="1">name</option>
	  		<option value="2">M.O.</option>
	  		<option value="3">ALIAS</option>
	  		<option value="4">LastLoc.</option>
	  		<option value="5">currentLoc.</option>
	  		<!-- <option value="6">prison</option>
	  		<option value="7">rehab</option>
	  		<option value="8">watchlist</option> -->
		</select>
		</li>

		<li class="nav-item">
		<input class=" form-control mr-sm-2 ml-4" type="text" 
			placeholder="Search.." value="" autocomplete="off" 
			id="myinput"
			onkeyup="searchFunction()" aria-label="Search">
		</li>
	</ul>
	
</nav>	

	<br>
	<table class="table">
		<thead class="table-header">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Id</th>
				<th scope="col">Criminal</th>
				<th scope="col">MO</th>
				<th scope="col">Alias</th>
				<th scope="col">Last Location</th>
				<th scope="col">Current Location</th>
				<th width="200px">Action</th>
			</tr>
		</thead>
		<tbody>
			 <% if(data.length){
			  for(var i = 0; i< data.length; i++){
			 %>  
			  <tr>
			    <th scope="row"><%= (i+1) %></th>
			    <td><%= data[i].cid%></td>
			    <td><%= data[i].cname%></td>
			    <td><%= data[i].mo%></td>
			    <td><%= data[i].alias%></td>
			    <td><%= data[i].lastloc%></td>
			    <td><%= data[i].cur_loc%></td> 
			    <td>
			    <a class="btn btn-success edit" href="/edit/<%=data[i].cid %>">Edit</a>                       
			    <a class="btn btn-danger delete" onclick="return confirm('Do you really want to delete the Details?')" href="/delete/<%= data[i].cid %>/<%= data[i].cur_loc %>">Delete</a>                       
			   </td>
			  </tr>
			  <% }
			           
			   }else{ %>
			       <tr>
			          <td colspan="3">No users present.</td>
			       </tr>
			    <% } %>    
		</tbody>
	</table>

<script src="search.js">
</script>	
</body>
</html>

